.counter {
    display: flex;
    width: 200px;
}

.counter input[type=button] {
    height: 100%;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 15px;
    text-align: center; 
    vertical-align: middle;
}
.counter span{
    width: 100%;
}